.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  border-right: none !important;
  background: #FFFFFF !important;
    box-shadow: 4px 4px 47px rgba(0, 0, 0, 0.05), -4px -4px 13px rgba(255, 255, 255, 0.3), 6px 6px 36px rgba(0, 0, 0, 0.06) !important;
}